/* Your Website Styles */

body {
  background: #7C7159;
}

.container {
  max-width: 1000px;
  position: relative;
  border-radius: 15px;
  margin-top: 20px;
}

.logo {
  margin-left: 50px;
  height: 30%;
  width: 30%;
}

h2 {
  background: url('../img/arches.png');
  margin-bottom: 0;
font-family: 'Arimo', sans-serif;
color: #7C7159;
}

h3 {
    background: url('../img/arches.png');
  margin-bottom: 0px;
font-family: 'Arimo', sans-serif;
color: #77A490;
}


p {
  margin-top:0;
font-family: 'Arimo', sans-serif;
color: black;
}




.grid_5 {
  padding: 0 10px 0 10px;
  border-radius: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.grid_6 {
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.grid_3 {
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 20px;
}



ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
}

a:link,
a:visited {
font-family: 'Arimo', sans-serif;
  color: #086B63;
  text-decoration: none;
    transition: .25s ease-in-out;
}

a:hover {
  color: #77A490;
  text-decoration: none;
  transition: .25s ease-in-out;
}


.profilepic {
  margin: 0px;
  width: 150px;
  height:150px;
  border-radius: 5px;
  border: 8px solid #77A490;
}

body {
  background-attachment: fixed;
}



/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}